*
{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.head
{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   width: 100%;
   height: 160px;
   justify-content: space-between;
   align-items: center; 
   background-color:#232426;
   
}

.logo
{
 font-style: italic;
 font-size: 30px;
 font-weight: bold;
 margin-left: 10px;
 cursor: pointer;
 transition: 1s ease-in-out;
 background: linear-gradient(to right , rgba(67,124,205),red);
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent;

}

.logo:hover
{
  font-size: 33px;
  background: linear-gradient(to right , rgb(5, 84, 195),rgb(176, 170, 19),rgb(237, 95, 6));
  -webkit-background-clip :text;
  -webkit-text-fill-color:transparent;
   font-weight: bold;
}

#searchBar
{
  width: 370px;
  border-radius: 7px;
  height: 20px;
  padding: 3px 60px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  transition: all 3s;
  background: rgb(211, 217, 216);
}

#searchBar:hover
{
  padding: 3px 70px;
}

#searchBar:focus
{
  outline: none;
  border-bottom: 4px solid rgb(192, 15, 183);
}

.Loginfo
{
display: flex;
flex-direction: column;
margin-top: 10%;
}

.LogIn
{
  display: flex;
  gap:5px;
  align-items: end;
  font-family: sans-serif;
  color:white;
  align-items: center;
  padding: 1px 9px;
  background-image: linear-gradient(to right, #434343 0%, black 100%); 
  border-top-left-radius: 50%;
  border-bottom-left-radius:50%; 

}
.userDetails
{
  margin-top: -24%;
  margin-left: 2%;
  padding: 10px;
}

.LogIn p
{
  margin: auto;
}


.logout button
{  
 padding: 2px 10px;
 margin-top: 30px;
 width: fit-content;
 background-image: linear-gradient(to right, #434343 0%, black 100%);
 color: #fff;
 font-family: serif;
 font-style: italic;
 font-size: 15px;
 border-radius: 10px;
 transition: all 1s
}

.logout button:hover
{
  padding: 2px 15px;
  box-shadow: 2px 3px 1px rgb(253, 245, 245);
}

.LogIn img
{
  width: 38px;
  padding: 5px;
  border-radius: 100%;
}


.fa-heart
{
  background: linear-gradient(to right , rgb(5, 84, 195),rgb(132, 28, 4),rgb(237, 95, 6)
  );
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
 
    transition: color 1s ease-in-out;
    margin-left: 120px;
    font-size: 30px;
}

.fa-heart:hover {
  background: linear-gradient(to right , rgb(133, 170, 222),rgb(247, 138, 113),rgb(130, 2, 83)
  );
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
 
  font-size: 36px;
}



#sp
{
  padding: 0px 3px;
  background-color: rgb(33, 33, 30);
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  position: relative;
  top: -15px;
  font-size: medium;
}

@media screen and (max-width:1150px) 
{
  .logo
  {
    font-size: 25px;
  }
  .logo:hover
  {
    font-size: 26px;
  }
  #searchBar
  {
    width: 250px;
  }
}

@media screen and (max-width:950px) 
{ 
  .LogIn
  {
    font-size: small;
  }
}

@media screen and (max-width:900px) {
  .head
  {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* padding-bottom: 20px; */
  }
 
  .logo
  {
    margin: auto;
    margin-top: 11%;
  }

  #searchBar
  {
    width: 360px;
    font-size: medium;
    padding: 2px 35px;
    margin: auto;
  }
  .Loginfo
  {
    margin: auto;
    
  }

.userDetails
{
  margin: auto;
}  

.LogIn
{
  border-radius: 4%;
  padding: 0px 14px;
  background: linear-gradient(to right , rgb(133, 170, 222),rgb(247, 138, 113),rgb(130, 2, 83)
  );
  color: rgb(26, 57, 213);
  font-weight: bold;
}
.LogIn:hover
{
  color: rgb(5, 26, 129);
  font-weight: bold;
  background: linear-gradient(to right , rgb(1, 46, 109),rgb(187, 157, 3),rgb(193, 43, 138)
  );
}

.logout button
{
  margin: 20px;

}
.fa-heart
{
  margin: 0;
}



}


@media screen and (max-width:550px) 
{
  .logo
  {
    margin-top: 10%;
  }

#searchBar
{
  width:270px;
  font-size: medium;
  padding: 2px 35px;
}
}

@media screen and (max-width:450px) {
 

  #searchBar
  {
    width:260px;
    font-size: medium;
    padding: 2px 35px;
  }
}


@media screen and (max-width:360px) {
 

  #searchBar
  {
    width: 200px;
    font-size: medium;
    padding: 2px 35px;
  }
}
@media screen and (max-width:330px) 
{
 
.logo img
{
 text-align: start;
}

}

@media screen and (max-width:282px) {
 

  #searchBar
  {
    width: 145px;
    font-size: medium;
    padding: 2px 10px;
  }
 
}

