
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body
{
     font-family: 'Playfair Display', serif; 
    align-content: center;
    min-height: 90vh;

    
}
#sec1
{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 70vw;
    margin: 100px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px
}
.imag
{
    background-color: #12192c;
    display: flex;
    border-radius: 12px 0 0 12px;
}
.imag img
{
height:50vh;
margin:50px auto
}
.content
{
    background:  linear-gradient(to right , rgb(18, 84, 178),rgb(244, 247, 243),rgb(198, 22, 183));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0  12px 12px 0;
    color: #541b07;
}
.content h2
{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
    color: #000;
}
.content span
{
    height: 0.5px;
    width: 80px;
    background: #836666;
    margin: 30px 0;
}
.content p
{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 1;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:#035891;
    font-weight: 500;
}
.links
{
    margin: 15px 0;
    
}
.links li
{
    border: 2px solid #4158D0;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.links li a
{
    text-transform: uppercase;
    color: #8f0e0e;
    text-decoration: none;
}
.links li:hover
{
    border-color: #C850C0;
}

.vertical-line
{
    height: 30px;
    width: 3px;
    background: #C850C0;
    margin: 0 auto;
}
.icons
{
    display: flex;
    padding: 15px 0;
}
.icons li
{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i
{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover
{
    color: #C850C0;
    cursor: pointer;
}

@media(max-width: 1150px)
{
    #sec1
    {
        grid-template-columns: 1fr;
        width: 80%;
        border-radius: none;
        margin: 100px auto;
        
    }
}


@media(max-width: 900px)
{
   #sec1
    {
        grid-template-columns: 1fr;
        width: 80%;
        border-radius: none;
        margin-left: 70px;
        margin: 59px auto;
    }
    .imag
    {
        height: 70vh;
        border-radius: none;
    }
    .content
    {
        height: 100vh;
        border-radius: none;
    }
    .content h2
    {
        font-size: 20px;
    }
    .content span
    {
        margin: 25px 0;
    }
    .content p
    {
        font-size: 14px;
        margin: 9px;
    }
    .links li a
    {
        font-size: 15px;
    }
    .links
    {
        margin: 5px auto;
    }
    .links li
    
    {
        padding: 6px 10px;
       
    }
    .icons li i
    
    {
        font-size: 20px;
        margin-left: 3px;
    }
}

@media(max-width: 860px)
{
   #sec1
    {
        grid-template-columns: 1fr;
        width: 80%;
        border-radius: none;
       
    }
}

@media(max-width: 500px)
{
   #sec1
    {
        grid-template-columns: 1fr;
        width: 70%;
        border-radius: none;
       
    }
}
.rede 
  
{
    height: 00px;
    background-color: white;
    
  }

 footer
 
 {
      width: 100%;
      position: absolute;
      background:#202124;
      color: #fff;
      padding: 30px 0 10px;
      line-height: 30px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
  }
  .row
  {
      width: 85%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
  }
  .col
  {
      flex-basis: 25%;
      padding: 10px;
  }
  .col:nth-child(2),.col:nth-child(3)
  {
      flex-basis: 15%;
  }
  .logo-details
  {
    color: #fff;
    margin-bottom: 50px;
    font-size: 30px;
  }
  .col h3
  {
      width: fit-content;
      margin-bottom: 40px;
      letter-spacing: 2px;
      position: relative;
  
  }
  .mail-id
  {
      width: fit-content;
      margin: 20px 0;
  }
  ul li
  {
      list-style: none;
      margin-bottom: 12px;
  }
  ul li a
  {
      text-decoration: none;
      color: #fff;
  }
  form
  {
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin-bottom: 50px;
  }
  form .far
  {
      font-size: 18px;
      margin-right: 10px;
  }
  form input
  {
      width: 100%;
      background: transparent;
      color: #ccc;
      border: 0;
      outline: none;
  }
  form button
  {
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
  }
  form button .fas
  {
      font-size: 16px;
      color: #ccc;
  }
  .social-icons .fa
  {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: #000;
      background: #fff;
      margin-right: 15px;
      cursor: pointer;
  }
  hr
  {
      width: 90%;
      border: 0;
      border-bottom: 1px solid #ccc;
      margin: 10px auto;
  }
  .copyright
  {
      text-align: center;
  }
  
  @media (max-width: 767px) 
  {
      footer .row 
      {
        display: flex;
        flex-direction: column;
        font-size: 14px;
  }
  footer .logo-name
  {
        width: 90%;
  }
      footer 
      {
        position: unset;
      }
  }
  @media (min-width: 768px) and (max-width: 1024px) 
  {
      footer .col,
      footer 
      {
        font-size: 13px;

      }
  }
  @media (orientation: landscape) and (max-height: 500px) 
  {
      footer 
      {
        position: unset;
    
      }
  }
  
  .credit
  {
      text-align: center;
      color: #fff;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .credit a
  {
      text-decoration: none;
      color: #0ED2F7;
      font-weight: bold;
  }
  
  